##############################
# Repository Specific Ignores
##############################

##############################
# Common Ignores
##############################
/packages
**/bin
**/obj
**/bower_components
**/node_modules
**/*.csproj.user
/.vs
**/PrecompiledWeb
*.user
